/* Herding Cats Travel App*/

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  background-color: dodgerblue;
  color: rgb(0, 54, 108);
  font-size: 10px;
  margin: 3rem;
  width: 50rem;
  font-family: 'Courier New', Courier, monospace;
}

label {
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
}

input, button {
  font-size: 1.5rem;
}

button {
  margin-top: 1rem;
}

